body{
    background-image: url("pkmn.jpg");
    background-size: cover;
}
h1{
    text-align: center;
}
#pokemonMoves{
    width: 450px;
    height: 250px;
    overflow: auto;
    margin-right: auto;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.header {
    text-align:  center;
}
.flex-container {
    display: flex;
}
.flex-child {
    flex: 1;
    border: 2px solid rgb(4, 0, 255);
}  
.flex-child:first-child {
    margin-right: auto;
    margin-left: auto;
} 
.footer-repository {
    background-color: #2a8ebd;
	text-align:center;
}

@media only screen and (max-width: 600px) {
    #pokemonMoves{
        width: 250px;
        height: 150px;
        overflow: auto;
        margin-right: auto;
    }
  }