body{
    background-image: url("pkmn.jpg");
    background-size: cover;
}
h2{
    text-align: center;
}
#pokemonMoves{
    border: 1px solid black;
    width: 250px;
    height: 150px;
    overflow: scroll;
    margin-right: auto;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.header {
    text-align:  center;
}
.flex-container {
    display: flex;
}
.flex-child {
    flex: 1;
    border: 2px solid rgb(4, 0, 255);
}  
.flex-child:first-child {
    margin-right: auto;
    margin-left: auto;
} 
.footer-repository {
    background-color: #2a8ebd;
	text-align:center;
}